<div class="container">
  <h3> Khóa học của tôi</h3>
  <a href="/me/trash/courses">Thùng rác</a>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col" colspan="2">createdAt</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.createdAt}}</td>
        <td><a href="/courses/{{this._id}}/edit">Sửa</a></td>
        <td><a href="" data-bs-toggle="modal" data-id= {{this._id}} data-bs-target="#delete-course">Xóa</a></td>
      </tr>
      

      <!-- Modal -->
      <div class="modal fade" id="delete-course" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Bạn chắc chắn muốn xóa khóa học
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              <button id = "btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
            </div>
          </div>
        </div>
      </div>
      {{else}}

      <tr>
        <td colspan="4"><p class="text-center">Bạn chưa đăng khóa học nào? <a href="/courses/create">Đăng khóa học mới</a></p></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<form id = "hidden-form" method="POST" ></form>

<script>
  const deleteCourseModal = document.getElementById('delete-course')
  deleteCourseModal.addEventListener('show.bs.modal', event => {
    const $ = document.querySelector.bind(document)
    const deleteButton = event.relatedTarget
    const modal = $('#delete-course')
    const hiddenForm = $('#hidden-form')

    // Extract info from data-id attributes
    const courseID = deleteButton.getAttribute('data-id')

    const deleteCourseBtn = $('#btn-delete-course')
    deleteCourseBtn.onclick = () => {
      hiddenForm.action = `/courses/${courseID}?_method=DELETE`
      hiddenForm.submit()
    }
  })
</script>


