<form class="container mt-4" method="POST" action = "/courses/handle-form-actions">
  <a href="/me/stored/courses" class = "mb-4">Danh sách khóa học</a>
  <h3> Khóa học đã xóa</h3>

  <div class = "d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="check-box-all">
      <label class="form-check-label" for="check-box-all">
        Chọn tất cả
      </label>
    </div>

    <select name = "action" class="form-select checkbox-select-all-options" aria-label="Default select example" required>
      <option value="" selected>-- Hành động --</option>
      <option value="force-delete">Xóa tất cả</option>
      <option value="restore">Khôi phục tất cả</option>
    </select>

    <button type="submit" class="btn btn-primary btn-sm disabled submit-all-checked-btn">Thực hiện</button>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" colspan="2">id</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col" colspan="2">createdAt</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row"><input class="form-check-input" type="checkbox" name="courseIds[]" value={{this._id}}></th>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.createdAt}}</td>
        <td><a class="restore-btn" href="" data-id= {{this._id}}>Khôi phục</a></td>
        <td><a href="" data-bs-toggle="modal" data-id= {{this._id}} data-bs-target="#delete-course">Xóa vĩnh viễn</a></td>
      </tr>
      

      <!-- Modal -->
      <div class="modal fade" id="delete-course" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Hành động này không thể khôi phục. Bạn có chắc muốn xóa khóa học này?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              <button id = "btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
            </div>
          </div>
        </div>
      </div>
      {{else}}

      <tr>
        <td colspan="4"><p class="text-center">Thùng rác trống<a href="/me/stored/courses">Danh sách khóa học</a></p></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

<form name = "hidden-form" method="POST" ></form>
<form name = "restore-form" method="POST" ></form>

<script>
  document.addEventListener('DOMContentLoaded', function() {

  function handleDelete() {
    const deleteCourseModal = document.getElementById('delete-course')
    if (deleteCourseModal) {
      deleteCourseModal.addEventListener('show.bs.modal', event => {
      const deleteButton = event.relatedTarget
      const modal = $('#delete-course')
      const hiddenForm = document.forms['hidden-form']

      // Extract info from data-id attributes
      const courseID = deleteButton.getAttribute('data-id')

      const deleteCourseBtn = $('#btn-delete-course')
      deleteCourseBtn.click(function() {
        hiddenForm.action = `/courses/${courseID}/force?_method=DELETE`
        hiddenForm.submit()
      })
    })
    }
  }

  function handleRestore() {
    const restoreBtns = $('.restore-btn')
    const restoreForm = document.forms['restore-form']
    restoreBtns.click(function() {
        event.preventDefault()
        const id = $(this).attr('data-id')
        restoreForm.action = `/courses/${id}/restore?_method=PATCH`
        restoreForm.submit()
      })
  }

  function handleCheckBox() {
    const courseItemCheckbox = $('input[name = "courseIds[]"]')
    const checkBoxAll = $('#check-box-all')
    const submitAllCheckedBtn = $('.submit-all-checked-btn')

    // handle checkboxAll
    checkBoxAll.change(function() {
      const isCheckedAll = $(this).prop("checked")
      courseItemCheckbox.prop("checked", isCheckedAll)
      renderSubmitAllCheckedBtn()
    })

    // handle course item checkbox clicked
    courseItemCheckbox.change(function() {
      if (courseItemCheckbox.length === $('input[name = "courseIds[]"]:checked').length) {
        checkBoxAll.prop("checked", true)
      } else {
        checkBoxAll.prop("checked", false)
      }
      renderSubmitAllCheckedBtn()
    })

    //render submit-all-checked-btn
    function renderSubmitAllCheckedBtn() {
      if ($('input[name = "courseIds[]"]:checked').length > 0) {
        submitAllCheckedBtn.removeClass('disabled')
      } else {
        submitAllCheckedBtn.addClass('disabled')
      }
    }

  }

  function start() {
    handleDelete()
    handleRestore()
    handleCheckBox()
  }

  start()

  })

</script>


